#landing {
  background: url('../img/landing.jpeg') no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
}

#landing .light-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
}

body {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

/*left side arrow nav*/
.page-nav {
  position: fixed;
  padding: 0.5em;
  margin-top: 50vh;
}

/*custom colors for backgrounds*/
.bg-green {
  background-color: rgba(122, 140, 125, 0.2);
}

.bg-grey {
  background-color: rgba(242, 242, 242, 0.4);
}

.bg-darkgrey {
  background-color: rgba(79, 79, 79, 0.9);
}

/*headings and text styling*/
h1 {
  padding: 1em 2em 0.5em 2em;
}

.text {
  padding: 0 2em 1em 2em;
  font-size: 20px;
}

.text-color-green {
  color: rgba(122, 140, 125, 1);
}

/*Card styling*/
.card-header,
.card-footer {
  background: rgba(242, 242, 242, 1);
}

/*Buttons*/
.btn-green {
  background: rgba(122, 140, 125, 0.9);
  color: white;
}

.btn-darkgrey {
  background: rgba(79, 79, 79, 0.5);
  color: white;
}

/*
.btn-purple {
  background: #f9c5bd;
  color: white;
}*/

.card {
  box-shadow: 3px 3px 3px #9f9f9f;
}

/*Form styling*/
form {
  padding-left: 20%;
}

ul li {
  list-style: none;
  line-height: 3em;
}

.first-list {
  text-align: left;
}

.second-list {
  text-align: right;
}

/*Footer*/
a {
  list-style: none;
  color: #000000;
}

a:hover {
  list-style: none;
  color: #ffffff;
}

/*Facilities park map with grid, NOT RESPONSIVE!!!! FIX*/
.gridcontainer {
  display: grid;
  box-sizing: border-box;
  font-size: 0.9375rem;
  text-align: center;
  font-weight: bold;
  width: 31.25rem;
  background: LightGray;
  grid-template-columns: 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem;
  grid-template-rows: 1.875rem 1.875rem 1.875rem 1.875rem 1.875rem 1.875rem 1.875rem 1.875rem 1.875rem 1.875rem;
  grid-gap: 0.125rem;
}
.d1 {
  background: #375538;
  grid-column: 1 / 6;
  grid-row: 1 / 6;
}

.d2 {
  background: #333333;
  grid-column: 1 / 1;
  grid-row: 5 / 9;
}

.d3 {
  background: #3399ff;
  grid-column: ;
  grid-row: 6 / 9;
}

.d4 {
  background: #2ac940;
  grid-row: 6 / 9;
  grid-column: 4 / 6;
}

.d5 {
  background: #828282;
  grid-row: 9 / 11;
  grid-column: 1 / 3;
}

.d6 {
  background: #fa9917;
  grid-column: 5 / 6;
  grid-row: 9 / 11;
}
